<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Perch & Parrow: New In</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,200;0,400;0,600;0,700;1,200&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
      <header class="main-header"> <!-- Header/Top Navigation -->
        <div class="logo-box"> <img src="images/icons/logo-icon.svg" alt="Logo image"> </div>
        <div class="header-menu-box"> <img src="images/icons/menu-icon.svg" alt="menu icon"> </div>

        <div class="header-search-wrapper">
          <input type="text" name="search" placeholder="Search...">
          <img src="images/icons/search-icon.svg" alt="search icon">
        </div>
        <div class="header-bag-box"> <img src="images/icons/bag-icon.svg" alt="bag icon"></div>
      </header> <!-- End of Header-->

      <div class="main-content">
        <h1 class="plp-page-title"> New In! </h1>
        <div class="page-subnav">
          <a href="" class="page-sublinks"><p>New In Made to Order</p></a> <span class="plp-subnav-slash"> / </span>
          <a href="" class="page-sublinks"><p>New In Furniture</p></a> <span class="plp-subnav-slash"> / </span>
          <a href="" class="page-sublinks"><p>New In Mirrors</p></a>
          <a href="" class="page-sublinks"><p>New In Lighting</p></a> <span class="plp-subnav-slash"> / </span>
          <a href="" class="page-sublinks"><p>New In Accessories</p></a> <span class="plp-subnav-slash"> / </span>
          <a href="" class="page-sublinks"><p>New In Textiles</p></a>
        </div>
        <section class="plp-section">
          <div class="plp-card">
            <img src="images/homeworks-armless-chair-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Cream Armless Chair </p>
            <p class="plp-product-price"> &dollar; 129.99</p>
          </div>
          <div class="plp-card">
            <img src="images/homeworks-armless-chair-02.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Black Armless High Chair </p>
            <p class="plp-product-price"> &dollar; 99.99</p>
          </div>
          <div class="plp-card">
            <img src="images/homeworks-curved-barstool-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Curved Bar Stool </p>
            <p class="plp-product-price"> &dollar; 89.99</p>
          </div>
          <div class="plp-card">
            <img src="images/homeworks-flower-planter-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Tall Planter </p>
            <p class="plp-product-price"> &dollar; 49.99</p>
          </div>
          <div class="plp-card">
            <img src="images/homeworks-fern-planter-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Medium Fern Planter </p>
            <p class="plp-product-price"> &dollar; 89.99</p>
          </div>
          <div class="plp-card">
            <img src="images/homeworks-faux-flower-centerpiece-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Faux Flower Centerpiece </p>
            <p class="plp-product-price"> &dollar; 39.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-fern-planter-02.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Small Fern Planter </p>
            <p class="plp-product-price"> &dollar; 39.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-mirror-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Oval Wall Mirror </p>
            <p class="plp-product-price"> &dollar; 59.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-hanging-lights-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Cylinder Pendent Lamps </p>
            <p class="plp-product-price"> &dollar; 59.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-kitchen-storage-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Utensil Wall Storage</p>
            <p class="plp-product-price"> &dollar; 59.99</p>
          </div>


          <div class="plp-card">
            <img src="images/homeworks-hanging-lights-02.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Hanging Lights </p>
            <p class="plp-product-price"> &dollar; 39.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-hanging-lights-03.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Set of 3 Hanging Lamps </p>
            <p class="plp-product-price"> &dollar; 34.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-candle-holder-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Black Candle Holder </p>
            <p class="plp-product-price"> &dollar; 14.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-blanket-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Threaded Throw </p>
            <p class="plp-product-price"> &dollar; 29.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-decorative-pillow-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Aztec Decorative Pillow </p>
            <p class="plp-product-price"> &dollar; 11.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-throw-pillow-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Throw Pillows </p>
            <p class="plp-product-price"> &dollar; 29.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-wall-art-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Fish Wall Art </p>
            <p class="plp-product-price"> &dollar; 19.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-wall-art-02.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Flower Wall Art </p>
            <p class="plp-product-price"> &dollar; 29.99</p>
          </div>
          <div class="plp-card">
            <img src="images/homeworks-pillow-set-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> 2-Pc. Pillow Set </p>
            <p class="plp-product-price"> &dollar; 14.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-desk-chair-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Desk Chair </p>
            <p class="plp-product-price"> &dollar; 69.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-dining-set-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Dining Set </p>
            <p class="plp-product-price"> &dollar; 14.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-holiday-wreath-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Holiday Wreath </p>
            <p class="plp-product-price"> &dollar; 69.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-waterbottle-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Water Bottle </p>
            <p class="plp-product-price"> &dollar; 14.99</p>
          </div>

          <div class="plp-card">
            <img src="images/homeworks-rug-01.jpg" alt="Image of: " class="plp-image">
            <p class="plp-product-name"> Kandie Area Rug </p>
            <p class="plp-product-price"> &dollar; 69.99</p>
          </div>

        </section>



      </div>
    </div>
  </body>
</html>
